nav{
    padding: 1%;
}
.img_size{
    width:30%;
    height: auto;
    display: block;
    margin-left:auto;
    margin-right:auto;
}
.col-md-4{
    border: 1px solid black;
    padding: 2%;
}
.row{
    margin: 15% 10%;
}
